# Auto detect text files and perform LF normalization
* text=auto

# Enforce LF endings on source files
*.cs text eol=lf
*.sql text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

# Executable bash scripts
*.sh text eol=lf
